html {
  background: url(./images/car_background.jpg) center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  height: 150vh;
  font-family: "Arvo", serif;
  font-weight: 700;
  color: #fff;
}

body {
  display: flex;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(251, 248, 244);
  font-size: 1.4rem;
  margin-top: 2em;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em auto;
  text-align: center;
}

.info_town {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
/* input */
.input_section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2em;
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.7em;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: rgb(213, 222, 222);
}

.form__input, .form__input_temp {
  font-family: "Roboto", sans-serif;
  color: #baa3a3;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: rgb(56, 46, 46);
  border: none;
  width: 20%;
  min-width: 300px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  color: aliceblue;
}

/* message */
.message {
  display: flex;
  justify-content: center;
}

.added_item, .added_item_temp {
  margin: 0 auto;
}

.message_container {
  position: relative;
  padding: 10px;
  width: 20%;
  margin: 30px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: #124e23;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.message_container:hover {
  box-shadow: 0 15px 20px rgba(10, 0, 10, 0.3);
  -webkit-filter: brightness(110%);
}

.message_container.message {
  background: rgb(35, 185, 29);
}

/*  button */

.btn_container {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.add_btn, .add_btn_temp {
  background-color: #244d31;
  color: #fff;
}

.add_btn:hover, .add_btn_temp:hover {
  background-color: #226a31;
}

.clear {
  margin-bottom: 1em;
}

.clear_btn, .clear_btn_temp {
  width: 100px;
  background-color: rgb(119, 16, 16);
  color: antiquewhite;
}

.clear_btn:hover, .clear_btn_temp:hover {
  background-color: rgb(174, 35, 35);
}

/* valid checker */
.validCheck {
  display: flex;

  height: 40px;
}

.valid,  .valid_temp{
  background-image: url("./images/green-tick\(2\).png");
  background-position: right center;
  background-repeat: no-repeat;
  width: 20px;
  margin-left: 1em;
}

.invalid {
  background-image: url("./images/close\(1\)\(1\).png");
  background-position: right center;
  background-repeat: no-repeat;
}

#error,  #error_temp{
  margin-left: 1em;
  align-self: center;
}

/* licence plate */

#reg_display_container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  text-align: center;
  list-style: none;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

li {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  width: 30%;
  min-width: 150px;
  margin-right: 0.5em;
  margin-top: 0.5em;
  background-color: rgb(244, 244, 233);
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  letter-spacing: 4px;
  padding: 0.6em 0;
}

@media only screen and (max-width: 968px) {
  body {
    flex-direction: column;
  }

  .input_section {
    flex-direction: column;
    margin-bottom: 1em;
  }

  .form__input {
    width: 40%;
    min-width: 190px;
  }

  .btn-12 {
    margin-left: 35%;
  }

  .clear_btn {
    margin-left: 40%;
  }

  .validCheck {
    margin-top: 1em;
    align-self: center;
  }

  .info_town {
    flex-direction: column;
  }
}

@media only screen and (max-width: 468px) {
  


  .btn-12 {
    margin-left: 22%;
  }

  .clear_btn {
    margin-left: 30%;
  }

  li {
    margin-right: 50px;
  }
}

.select_town {
  display: flex;
  justify-content: center;
  margin-right: 4em;
  margin-bottom: 3em;
}

.select_town label {
  align-self: center;
  margin-right: 0.6em;
}

select {
  color: rgba(250, 235, 215, 0.742);
  padding: 10px;
  font-size: 1rem;

  border-radius: 4px;
  background-color: rgb(56, 46, 46);
  width: 200px;
}

option {
  margin: 1em 0;
  display: block;
}

.error_image {
  font-size: 1.4rem;
}
