

html {
    background: url(./images/car_background.jpg) center / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.9);
   height: 100vh;
   font-family: 'Arvo', serif;
   font-weight: 700;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: antiquewhite;
    font-size: 1.4rem;
    margin-top: 2em;
}



.input-field {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    padding: 2% 0;
    font-size: 4vw;
    background-color: transparent;
    color: #333;
    opacity: 0.7;
  }
  
  input[type="text"]::placeholder {
    color: #333;
    opacity: 1;
  }
  
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0077FF;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  input[type="text"]:focus + .underline {
    transform: scaleX(1);
  }orm: scaleX(1);
  }