html {
  background: url(./images/car_background.jpg) center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  font-family: "Arvo", serif;
  font-weight: 700;
  color: #fff;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(251, 248, 244);
  font-size: 1.4rem;
  margin-top: 2em;
}
/* input */
.input_section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2em;
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 37%;
  margin-top: 0.7em;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: rgb(213, 222, 222);
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #baa3a3;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: rgb(56, 46, 46);
  border: none;
  width: 25%;
  min-width: 400px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  color: aliceblue;
}



/*  button */

button {
  text-align: center;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 7px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  display: flex;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-12 {
  margin-left: 42%;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  font-weight: 700;
}
.btn-12 span {
  background: rgb(0, 238, 32);
  background: linear-gradient(90deg, rgb(12, 14, 15) 0%, rgb(7, 161, 15) 100%);

  position: absolute;
  width: 100%;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* valid checker */
.validCheck {
  display: flex;

  height: 40px;
}

.valid {
  background-image: url("./images/green-tick\(2\).png");
  background-position: right center;
  background-repeat: no-repeat;
  width: 20px;
  margin-left: 1em;
}

.invalid {
  background-image: url("./images/close\(1\)\(1\).png");
  background-position: right center;
  background-repeat: no-repeat;
}

#error {
  margin-left: 1em;
  align-self: center;
}





/* licence plate */

#reg_display_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  margin-top: 4em
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  margin: 0;
  list-style: none;
  font-size: 1.7rem;
  font-weight: bold;
  align-self: center;
  width: 25%;
  margin-right: 100px;
  max-width: 200px;
  min-width: 150px;
  background-color: rgb(244, 244, 233);
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  letter-spacing: 5px;
  padding: 0.3em 0;
}


@media only screen and (max-width: 968px) {
  .input_section {
    flex-direction: column;
  }

  .form__input {
    width: 40%;
    min-width: 190px;
  }

  .form__label {
    margin-left: 32%;
  }

  .btn-12 {
    margin-left: 35%;
  }

  .validCheck {
    margin-top: 1em;
    align-self: center;
  }
}

@media only screen and (max-width: 468px) {
  .btn-12 {
    margin-left: 25%;
  }

  li {
    margin-right: 50px;
  }
}
