


html {
  background: url(./images/car_background.jpg) center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  font-family: "Arvo", serif;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(251, 248, 244);
  font-size: 1.4rem;
  margin-top: 2em;
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 37%;
    margin-top: 0.7em;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
    color: rgb(213, 222, 222);
    
  }
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #baa3a3;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: rgb(56, 46, 46);
    border: none;
    width: 25%;
    min-width: 40%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
    color: aliceblue;
  }
  
